@use 'catppuccin';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,900&display=swap');

$font-stack: 'Lato', sans-serif;

html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    background: catppuccin.$base;
    margin: 0;
    display: grid;
    grid-template-rows: 90% auto;
    overflow: hidden;
}

#footer {
    font-size: 10pt;
    font-family: $font-stack;
    font-weight: 700;
    color: catppuccin.$subtext0;
    grid-row: 2 / 3;
    justify-self: center;
}

#content {
    grid-row: 1 / 2;
}

button {
    background: catppuccin.$surface1;
    color: catppuccin.$subtext1;
    border-radius: 12pt;
    font-size: 15pt;
    border: 0;
}

button:hover {
    background: catppuccin.$surface2;
    color: catppuccin.$subtext1;
    cursor: pointer;
}

button:active {
    background: catppuccin.$surface0;
    color: catppuccin.$subtext0;
}